@use "../abstracts/index" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: $rem-base;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent; /*turn off grey highlight on mobile*/
}

body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: calc(10 / 7);
    letter-spacing: 0.4px;

    color: $color-body-text;
    background-color: $color-body-bg;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

a {
    @extend %link-base;
    @extend %bg-transparent;
}

a:active, a:hover {
    outline: 0;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:focus, a:hover {
    color: $color-link--focus;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border: 0;
}

label {
    display: inline-block;
    font-weight: 600;
    color: $color-label;
    margin-bottom: 5px;
}

button {
    @extend %font-family-inherit;
    @extend %form-element;
}

input {
    @extend %font-family-inherit;
    @extend %form-element;
}

optgroup {
    @extend %form-element;
}

select {
    @extend %font-family-inherit;
    @extend %form-element;
}

textarea {
    @extend %font-family-inherit;
    @extend %form-element;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    @extend %heading-base;
    @extend %heading-spacing;
    margin-left: 0;
    margin-right: 0;
}

h2, .h2 {
    font-size: to-rem(28px);
    @extend %heading-base-small;
}

h4, .h4 {
    @extend %heading-base;
    @extend %heading-spacing-small;
    @extend %heading-base-small;
    font-size: 1rem;
}

h5, .h5,
h6, .h6 {
    @extend %heading-base;
    @extend %heading-spacing-small;
}

.small, small {
    font-size: 85%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}