@use "../abstracts/index" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: $rem-base;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent; /*turn off grey highlight on mobile*/
}

body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: calc(10 / 7);
    letter-spacing: 0.4px;

    color: $color-body-text;
    background-color: $color-body-bg;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

a {
    @extend %link-base;
    @extend %bg-transparent;
}

img {
    vertical-align: middle;
    border: 0;
}

label {
    display: inline-block;
    font-weight: 600;
    color: $color-label;
    margin-bottom: 5px;
}

button {
    @extend %font-family-inherit;
    @extend %form-element;
}

input {
    @extend %font-family-inherit;
    @extend %form-element;
}

optgroup {
    @extend %form-element;
}

select {
    @extend %font-family-inherit;
    @extend %form-element;
}

textarea {
    @extend %font-family-inherit;
    @extend %form-element;
}