@use "../abstracts" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: percent-of-base-font(10px);
    -webkit-tap-highlight-color: transparent; /*turn off grey highlight on mobile*/
}

body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: calc(1em / 7);
    letter-spacing: to-rem(0.4px);

    color: $color-body-text;
    background-color: $color-body-bg;
}

a {
    @extend %link-base;
    @extend %bg-transparent;
}

img {
    vertical-align: middle;
    border: 0;
}
