@use "../abstracts/index" as *;

/* POPPINS */
@font-face {
    font-family: 'Poppins';
    src: url('#{$assets-path}fonts/poppins-v15-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$assets-path}fonts/poppins-v15-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* MATERIAL DESIGN ICONS */
@font-face {
    font-family: Material-Design-Icons;
    src: url('#{$assets-path}fonts/Material-Design-Icons.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


[class*=" mdi-"],[class^=mdi-] {
    font-family: Material-Design-Icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mdi-social-school:before {
    content: "\E8DE"
}

.mdi-action-trending-up:before {
    content: "\E68B"
}

.mdi-notification-phone-in-talk:before {
    content: "\E8B6"
}

.mdi-hardware-security:before {
    content: "\E7C9"
}

/* ICOMOON */

@font-face {
    font-family: icomoon;
    src: url('#{$assets-path}fonts/icomoon.eot?ici5fl');
    src: url('#{$assets-path}fonts/icomoon.eot?ici5fl#iefix') format("embedded-opentype"),url('#{$assets-path}fonts/icomoon.ttf?ici5fl') format("truetype"),url('#{$assets-path}fonts/icomoon.woff?ici5fl') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone_in_talk:before {
    content: "\E902"
}

.icon-handshake-o:before {
    content: "\E910"
}

.icon-display:before {
    content: "\E905"
}

.icon-security:before {
    content: "\E900"
}

.icon-apps:before {
    content: "\E918"
}

.icon-mouse:before {
    content: "\E903"
}

.icon-bar-graph:before {
    content: "\E904"
}

.icon-facebook:before {
    content: "\E907"
}

.icon-code:before {
    content: "\E908"
}

.icon-instagram:before {
    content: "\E909"
}

.icon-twitter:before {
    content: "\E90B"
}

.icon-paperplane:before {
    content: "\E90C"
}


/* GLYPHOCON */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('#{$assets-path}fonts/glyphicons-halflings-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-cloud:before {
    content: "\2601"
}

.glyphicon-search:before {
    content: "\E003"
}

.glyphicon-download-alt:before {
    content: "\E025"
}

.glyphicon-headphones:before {
    content: "\E035"
}

.glyphicon-arrow-right:before {
    content: "\E092"
}

.glyphicon-random:before {
    content: "\E110"
}

.glyphicon-shopping-cart:before {
    content: "\E116"
}

.glyphicon-folder-open:before {
    content: "\E118"
}

.glyphicon-hdd:before {
    content: "\E121"
}

.glyphicon-briefcase:before {
    content: "\E139"
}

.glyphicon-phone:before {
    content: "\E145"
}

.glyphicon-transfer:before {
    content: "\E178"
}





