@use "../abstracts/index" as *;

.header {
    @extend %d-block;
    background-color: $color-body-bg;

    &__inner {
        padding: to-rem(20px) 0;
    }

    &__row {
        @extend %clearfix;
        @extend %flex-wrap;

        margin-left: to-rem(-15px);
        margin-right: to-rem(-15px);

        @include respond-to(xs) {
            display: table;
            width: 100%;
            margin: 0;
        }
        & > * {
            flex: 0 0 auto;
            max-width: 100%;

            @include respond-to(xs) {
                padding: 0;
                display: table-cell;
                float: none;
                vertical-align: middle;
                width: 100%;
            }
        }

        & > :last-child {
            @include respond-to(xs) { width: 1%; }
        }

        &-hero {

            @include respond-to(sm) {
                width: 50%;
            }
            @include respond-to(md) { width: calc(100% * 5 / 12); }
            @include respond-to(lg) { width: calc(100% * 4 / 12); }

            &-logo {
                display: table;
                table-layout: fixed;
                @include respond-to(md) { display: block; }
                & a {
                    display: table-cell;
                    vertical-align: middle;

                    @include respond-to(md) { display: block; }

                    & img {
                        max-width: 100%;
                        @extend %d-block;
                    }
                }
            }
        }

        &-mobile {
            @extend %grid-base;

            @include hidden-at(sm);
            @include respond-to(sm) { width: 25%; }
        }

        &-group {
            @extend %grid-base;

            @include respond-to(xs) { width: 25%; }
            @include respond-to(sm) { width: 50%; }
            @include respond-to(md) { width: calc(100% * 7 / 12); }
            @include respond-to(lg) { width: calc(100% * 8 / 12); }

            &-actions {
                @include float(right);
                padding: to-rem(7px) 0;
                &>* + * {
                    margin-left: to-rem(20px);
                }
                &.btn span {
                    font-size: to-rem(23px);
                    line-height: to-rem(45px);
                }
                &.btn [class^="icon-"]  {
                    @extend %icon-action;
                    @include float(left);
                }

                &-el.btn {
                    @include float(left);
                    @include hidden-at(xs);
                    @include hidden-at(sm);
                    @include respond-to(md) { display: block }

                    height: to-rem(56px);
                    line-height: to-rem(46px);
                    font-size: to-rem(18px);
                }

                &-search {
                    @include float(left);
                    @extend %d-block;
                }
                &-hamburger {
                    @include float(left);

                    & .hamburger-box {
                        @extend %d-block;

                        &, &::before, &::after {
                            background-color: $color-btn-hamb-inner;
                            border-radius: 0;
                        }
                    }

                }

            }

        }

    }
}

