@use "../abstracts/index" as *;

.accordion {

    &__question {
        font-weight: 600;
    }

    &__icon {
        font-style: normal;
        transition: transform .5s ease;
    }

    &__answer {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: height .5s ease, visibility .5s;
    }

    &__answer-inner {
        overflow: hidden;

        strong {
            font-weight: 600;
            color: $color-heading;
        }
    }

    &__item--open {
        .accordion__answer {
            visibility: visible;
        }

        .accordion__icon {
            transform: rotate(180deg);
        }
    }

    &__text {
        display: block;
        line-height: to-rem(30px);
        margin: 0 0 25px;
    }
}