@use "../abstracts/index" as *;

.form {
    &--contact {
        background-color: $color-form-bg;
        border-radius: 10px;
        padding: 30px;
    }

    &__row {
        @extend %flex-wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__col {
        @extend %grid-base;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;

        @include respond-to(md) {
            width: 50%;
        }
    }

    &__group {
        margin-bottom: 15px;
    }

    &__label {
        &--required::after {
            content: " *";
            color: $color-required;
        }
    }

    &__control {
        @extend %form-control;
        @extend %form-output;

        &::placeholder {
            color: $color-placeholder;
            opacity: 1;
        }

        &--textarea {
            height: 100px;
            min-height: 100px;
        }
    }

    &__link {
        text-decoration: underline;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;

        @include respond-to(376px) {
            flex-direction: row;
        }
    }

    &__helper {
        color: $color-heading;
        margin-bottom: 10px;

        @include respond-to(376px) {
            margin-bottom: 0;
        }
    }

    &__required {
        color: $color-danger;
    }

    &__submit {
        border-color: $color-btn-primary-bg;
        &.btn {
            @extend %btn;
        }
    }
}