@use "../abstracts/index" as *;

.hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity,filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    &-box {
        width: 33px;
        height: 19px;
        display: inline-block;
        position: relative;
    }

    &-inner {
        display: block;
        top: 50%;
        margin-top: -1.5px;

        &,
        &::before,
        &::after {
            width: 33px;
            height: 4px;
            background-color: $color-hamb-inner;
            border-radius: 0;
            position: absolute;
            transition-property: transform;
            transition-duration: .15s;
            transition-timing-function: ease;
        }

        &::before,
        &::after {
            content: "";
            display: block;
        }

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }

    &--spin {
        .hamburger-inner {
            transition-duration: .22s;
            transition-timing-function: cubic-bezier(.55,.055,.675,.19);

            &::before {
                transition: top .1s ease-in .25s, opacity .1s ease-in;
            }

            &::after {
                transition: bottom .1s ease-in .25s,
                transform .22s cubic-bezier(.55,.055,.675,.19);
            }
        }
    }

    &:hover {
        opacity: 1;
    }

}
