@use "variables" as vars;
@use "functions" as fn;

%d-block {
    display: block;
}

%clearfix {
    &::before,
    &::after {
        content: " ";
        display: table;
    }
}

%flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

%grid-base {
    position: relative;
    min-height: 1px;
    padding-left: fn.to-rem(15px);
    padding-right: fn.to-rem(15px);
}

%link-base {
    color: vars.$color-link;
    text-decoration: none;
}

%bg-transparent {
    background: transparent;
}

%icon-base {
    font-family: 'icomoon', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%icon-action {
    margin-right: fn.to-rem(5px);
}





