@use "variables" as vars;
@use "functions" as fn;

@mixin respond-to($from, $to: null, $type: min) {
    $from-value: map-get(vars.$bps, $from);

    @if $to == null and $type == min {
            @media (min-width: #{$from-value}) {
                @content;
            }
    }

    @else if $to == null and $type == max {
        $next: fn.bp-next($from);

        @if $next != null {
            @media (max-width: #{fn.bp-max($next)}) {
                @content;
            }
        }
    }

    @else if $type == between {
        $upto: if ($to == null, $from, $to);
        $range: fn.bp-range($from, $upto);
        $min: nth($range, 1);
        $max: nth($range, 2);

        @media (min-width: #{$min}) and (max-width: #{$max}) {
            @content;
        }
    }
}

@mixin hide {
    display: none;
}

@mixin hidden-at($breakpoint, $type: min) {
    @if $type == between {
        $next: fn.bp-next($breakpoint);

        @include respond-to($breakpoint, $next, between) {
            @include hide;
        }
    } @else {
        @include respond-to($breakpoint, null, $type) {
            @include hide;
        }
    }
}


@mixin float($side, $margin: null) {
    float: $side;

    @if $margin != null {
        margin: $margin;
    }
}


