/* BREAKPOINTS */

$bps: (
        xs: 0,
        sm: 768px,
        md: 992px,
        lg: 1260px
);

/* CONTAINER WIDTH */
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1200px;

/* COLORS */

$color-blue: #4183d7;


$color-body-text: #666;
$color-body-bg: white;
$color-link: #333645;
$color-link--focus: #121419;

$color-btn: white;
$color-btn-primary-bg: #333645;
$color-btn-default-bg: #999aa2;
$color-btn-special-bg: $color-blue;
$color-btn-hamb-inner: white;
$color-hamb-inner: black;

$color-label: #333645;
$color-form-control: #555;
$form-shadow: rgba(black, .075);
$form-border: #ccc;
$form-search-btn-color: white;
$form-search-btn-bg: #999aa2;
$form-search-btn-color--mobile: #333645;
$form-search-btn-color-bg--mobile: rgba( 0, 0, 0,.1);
$form-search-btn-color-out--mobile: hsla(0,0%,100%,.2);

$color-nav-bg: #333645;
$color-nav-text: white;
$color-nav-sub-bg: #1d1f28;
$color-nav-sub-title: white;

$nav-item-accents: (
        software:           #67809f,
        it:                 #4183d7,
        digital:            #2ecc71,
        telecoms:           #d64541,
        web:                #926fb1,
        security:           #f62459,
        developer-course:   #ce4125
);

$nav-item-accents1: (
        software:           #67809f,
        it:                 $color-nav-text,
        digital:            $color-nav-text,
        telecoms:           $color-nav-text,
        web:                $color-nav-text,
        security:           $color-nav-text,
        developer-course:   $color-nav-text
);

$nav-sub-menu-accents: (
        software:           #526781,
        it:                 #286abd,
        digital:            #25a25a,
        telecoms:           #bc2c28,
        web:                #79539a,
        security:           #de093f,
        developer-course:   #a3331d
);

$overlay-dark: rgba(0, 0, 0, .4);

/* FONTS */
$rem-base: 16px;

/* PATHS */
$assets-path: "../assets/";
