/* BREAKPOINTS */

$bps: (
        xs: 0,
        sm: 768px,
        md: 992px,
        lg: 1260px
);

/* CONTAINER WIDTH */
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1200px;

/* COLORS */
$color-grey: #666;
$color-darker-grey: #555;
$color-dark-grey: #333645;
$color-darkest-grey: #1d1f28;
$color-light-grey: #999aa2;
$color-white: white;
$color-light-white: #ccc;
$color-black: black;
$color-blue: #4183d7;


$color-body-text: $color-grey;
$color-body-bg: $color-white;
$color-link: $color-dark-grey;

$color-btn: $color-white;
$color-btn-primary-bg: $color-dark-grey;
$color-btn-default-bg: $color-light-grey;
$color-btn-special-bg: $color-blue;
$color-btn-hamb-inner: $color-white;
$color-hamb-inner: $color-black;

$color-label: $color-dark-grey;
$color-form-control: $color-darker-grey;
$form-shadow: rgba($color-black, .075);
$form-border: $color-light-white;
$form-search-btn-color: $color-btn;
$form-search-btn-bg: $color-light-grey;
$form-search-btn-color--mobile: $color-dark-grey;
$form-search-btn-color-bg--mobile: rgba($color-black,.1);
$form-search-btn-color-out--mobile: hsla(0,0%,100%,.2);

$color-nav-bg: $color-dark-grey;
$color-nav-text: $color-white;
$color-nav-sub-bg: $color-darkest-grey;
$color-nav-sub-title: $color-white;

$nav-item-accents: (
        software:          #67809f,
        it:                 $color-nav-text,
        digital:            $color-nav-text,
        telecoms:           $color-nav-text,
        web:                $color-nav-text,
        security:           $color-nav-text,
        developer-course:   $color-nav-text
);

$nav-sub-menu-accents: (
        software: #526781,
        it:                 $color-nav-sub-bg,
        digital:             $color-nav-sub-bg,
        telecoms:            $color-nav-sub-bg,
        web:                 $color-nav-sub-bg,
        security:            $color-nav-sub-bg,
        developer-course:    $color-nav-sub-bg
);

$overlay-dark: rgba($color-black, .4);

/* FONTS */
$rem-base: 16px;

/* PATHS */
$assets-path: "../assets/";
